* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1300px;
  margin: 0 auto;
}
.wrapper {
  width: 1020px;
  max-width: 100%;
  margin: 0 auto;
}

/*HEADER 1st part*/

header {
  background-image: url(assets/header_background.png);
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.logo {
  display: flex;
}
.logo h1 {
  align-self: center;
  font-family: ﻿LucidaSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 41px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
}
.logo_img {
  height: 79px;
  width: 79px;
  background-image: url(assets/logo1.png), url(assets/logo2.png);
  background-position: center;
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 453px;
  height: 41px;
  margin-top: 40px;
  background-color: #f5c506;
  box-shadow: -4px -4px 0 rgba(245, 197, 6, 0.3), -8px -8px 0 rgba(245, 197, 6, 0.3);
}
.menu {
  display: flex;
  list-style: none;
}
.menu a {
  text-decoration: none;
  margin-left: 9px;
  font-family: ﻿SegoeWP, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 17px;
  color: rgba(155, 125, 8, 255);
  text-transform: uppercase;
}
.menu_item {
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-right: 1px solid #dcb105;
}

/*HEADER 2nd part*/

.banner {
  display: flex;
  justify-content: space-between;
  padding: 56px 0 71px;
}
.banner_video {
  padding-left: 10px;
}
.banner_title {
  font-family: ﻿Asap-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-transform: uppercase;
  text-align: center;

  align-self: center;
  padding-bottom: 20px;
}
.banner_title_subtitle {
  color: #ffffff;
}

/*MAIN, section advantages*/

.advantages {
  height: 100%;
  background-color: #f0f0f0;
}
.advantages ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.advantages_item {
  flex-basis: 0;
  flex-grow: 1;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  align-self: flex-end;
}
.advantages_item_img {
  display: flex;
  justify-content: center;
  padding-bottom: 9px;
  padding-top: 40px;
}
.advantages_item_text {
  font-family: ﻿SegoeUI-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 27px;
  color: rgba(0, 0, 0, 255);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
