* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1300px;
  margin: 0 auto;
}
.wrapper {
  width: 1020px;
  max-width: 100%;
  margin: 0 auto;
}

/*HEADER 1st part*/

header {
  background-image: url(assets/header_background.png);
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.logo {
  display: flex;
}
.logo h1 {
  align-self: center;
  font-family: ﻿LucidaSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 41px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
}
.logo_img {
  height: 79px;
  width: 79px;
  background-image: url(assets/logo1.png), url(assets/logo2.png);
  background-position: center;
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 453px;
  height: 41px;
  margin-top: 40px;
  background-color: #f5c506;
  box-shadow: -4px -4px 0 rgba(245, 197, 6, 0.3), -8px -8px 0 rgba(245, 197, 6, 0.3);
}
.menu {
  display: flex;
  list-style: none;
}
.menu a {
  text-decoration: none;
  margin-left: 9px;
  font-family: ﻿SegoeWP, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 17px;
  color: rgba(155, 125, 8, 255);
  text-transform: uppercase;
}
.menu_item {
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-right: 1px solid #dcb105;
}

/*HEADER 2nd part*/

.banner {
  display: flex;
  justify-content: space-between;
  padding: 56px 0 71px;
}
.banner_video {
  padding-left: 10px;
}
.banner_title {
  font-family: ﻿Asap-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-transform: uppercase;
  text-align: center;

  align-self: center;
  padding-bottom: 20px;
}
.banner_title_subtitle {
  color: #ffffff;
}

/*MAIN, section advantages*/

.advantages {
  height: 212px;
  background-color: #f0f0f0;
  box-shadow: 0px -5px 5px -1px #3E3F42, 0px 5px 5px -1px #3E3F42;
}
.advantages ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.advantages_item {
  flex-basis: 0;
  flex-grow: 1;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  align-self: flex-end;
}
.advantages_item_img {
  display: flex;
  justify-content: center;
  padding-bottom: 9px;
  padding-top: 40px;
}
.advantages_item_text {
  font-family: ﻿SegoeUI-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 27px;
  color: rgba(0, 0, 0, 255);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

/*MAIN, section twitter*/

.twitter_title {
  padding: 42px 0;
  font-family: ﻿PTSans-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 37px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
  text-align: left;
}
.twitter {
  height: 509px;
  background-image: url(assets/twitter_background.png);
}
.twitter_string {
  display: flex;
  justify-content: space-between;
}
.twitter_string_content {
  display: flex;
}
.twitter_string_content_text {
  position: relative;
  background-color: #ec9e03;
  width: 341px;
  height: 233px;
}
.twitter_string_content_text p {
  padding: 25px 38px 34px 31px;
  font-family: ﻿SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 29px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
}
.twitter_string_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 329px;
  height: 233px;
  background-color: #ec9e03;
}
.twitter_string_img_item0 {
  position: absolute;
  top: 20px;
  right: 19px;
  font-size: 24px;
  font-weight: 100;
  color: white;
}
.twitter_string_content_text span,
.twitter_string_img_item1 {
  position: absolute;
  right: 14px;
  bottom: 13px;
  font-size: 24px;
  font-weight: 900;
  color: white;
}
.twitter_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 113px;
  height: 86px;
  background-color: #ddb101;
}
.twitter_date_item0 {
  font-family: ﻿SegoeUI-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 51px;
  font-weight: 900;
  color: rgba(255, 255, 255, 255);
}
.twitter_date_item1 {
  font-family: ﻿SegoeUI, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 18px;
  color: rgba(178, 101, 41, 255);
}
.twitter_slide {
  max-width: 100%;
  margin: 43px auto 0;
  width: 896px;
  height: 15px;
  background-color: #fae284;
  border-radius: 10px;
}
.twitter_slide_bar {
  margin-left: 25%;
  width: 197px;
  height: 15px;
  background-color: #ec9e03;
  border-radius: 10px;
}

/*MAIN, section free*/

.free {
  height: 499px;
  background-image: url(assets/free_section_background.png);
}
.free_title {
  padding: 40px 0 5px;
  font-family: ﻿PTSans-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 43px;
  color: rgba(245, 197, 6, 255);
  text-transform: uppercase;
  text-align: center;
}
.free_content {
  display: flex;
  justify-content: space-between;
}
.free_content_text {
  max-width: 353px;
  align-self: flex-end;
  list-style: none;
}
.free_content_text_item {
  padding-top: 22px;
  position: relative;
  font-family: ﻿PTSans-Regular, ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 23px;
  color: rgba(169, 169, 167, 255);
  letter-spacing: 1px;
}
.free_content_text_item::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #f5c506;
  position: absolute;
  top: 30px;
  left: -8%;
}
.free_content_text_item:last-child {
  margin-bottom: -10px;
}

/*FOOTER*/

footer {
  background-color: #4c4c4c;
  box-shadow: 0 -4px 7px #1a1a1a;
}
.footer_content {
  display: flex;
  align-items: center;
  height: 64px;
}
.footer_content_text {
  margin-left: 9px;
  font-family: ﻿LucidaSans-Italic, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
  font-size: 29px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
}
